* {
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
}

#card-body1 {
    background-color: #C9A050;
    border-radius: 10px;
}

#text-card {
    color: #FBF9F1;
    font-weight: 400;
    font-size: 20px;
}

#color-primary {
    color: #1A2F50;
}

#bg-primary {
    background-color: #1A2F50;
}

#color-white {
    color: #FBF9F1;
}

.color-white {
    color: #FBF9F1;
}

#bg-white {
    background-color: #FBF9F1;
}

#color-text {
    color: #2b2b2b;
}

.color-text {
    color: #2b2b2b;
}

#bg-text {
    background-color: #2b2b2b;
}

#color-secondary {
    color: #C9A050;
}

#bg-secondary {
    background-color: #C9A050;
}

#badge-color {
    background-color: rgb(201, 160, 80, 0.85);
}

.color-gray {
    color: #718096;
}

.bg-gray {
    background-color: #718096;
}

.card-border-radius {
    border-radius: 10px;
}

.icon-card {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 0;
}

.data_suara, .data_kelas {
    width: fit-content
}